* {
    box-sizing: border-box;
    font-family: 'Englebert', sans-serif;
}
.row {
  margin: 8px -16px;
}


/*Links*/
.content a:link {
    color: #000000;
}
.content a:visited{
     color: #000000;
}
.content a:hover {
    text-decoration: none;
    color: green;
    
}
.content a:active {
    color: #000000;
}
.content h3:hover {
    text-decoration: none;
    color: #4d4d4d;
}
.content:hover {
    border: 2px solid #c6c6c6;
}


/*Jumbotron*/
.jumbotron .container-fluid h1 {
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.85);
    letter-spacing: 15px;
    font-weight: bold;  
}
 .logo-img{
    width: 250px;
}


/*Nav Bar*/
.navbar .navbar-nav {
    margin-left: auto;
    margin-right: auto;
    
}
.navbar .navbar-collapse {
  text-align: center;
    
}
.navbar a {
    
    font-size: 20px;
}


/*Shop By Pet Header*/
.col-sm-12 h1{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.85);
    font-size: 60px;
}
#shop-by-pet {
    margin-top: 100px;
    margin-bottom: 25px;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 25px;
    
}
/*Admin search bar*/
#admin-header {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 25px;
}
#order-lookup-form {
  font-size: 30px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}
#order-table table, th, td {
  font-size: 30px;
  border: 2px solid white;
  padding: 10px;
  text-align: right;
  color: black;
}
#order-table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}


/*Shop By Pet Rows*/
#pet-row-one {
    justify-content: center;  
}
#pet-row-two {
   justify-content: center;
}

    /* Add padding BETWEEN each column */
    .row,
    .row > .column {
      padding: 20px; 
    }

    /* Create three equal columns that floats next to each other */
    .column {
      width: 33%;
    }

    /* Clear floats after rows */ 
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Content */
    .content {
      background-color: white;
      padding: 10px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.54);
    }

    .content h3 {
        display: flex;
        justify-content: center;
        align-items: center; 
        color: #898989;
        font-weight: 400;
        text-decoration: none;
        margin-top: 10px;
        padding-bottom: 5px;
        border-top: 1.5px solid #898989;
        border-bottom: 1.5px solid #898989;
    }






@media screen and (max-width: 900px) {
  .column {
    width: 33%; /* Responsive layout - makes a two column-layout instead of four columns */
  }
    .content h3 {
        text-align: center;
    }
    #hamster {
        font-size: 21px;
    }
}

@media screen and (max-width: 600px) {
    .jumbotron .container-fluid h1 {
        margin: auto;
        display:list-item;
        text-align: center;
    }
    .navbar {
         box-shadow: 0px 0px 0px;
    }
    .column {
    width: 100%; /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  }
    #hamster {
        font-size: 29px;
    }
}





